html, body {
	font-family: 'Mukta', sans-serif;
}

main {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	font-size: 20pt;
	background-color: #659EC7;
	padding: 5px 10px;
	border-radius: 15px;
	font-weight: bold;
	transition: all 0.5s;
}

button:hover {
	filter: brightness(70%);
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition: all 0.5s;
}

header {
	min-width: 100%;
	filter: brightness(95%);
	height: 120px;
	background-color: #7ac6f9;
	text-align: center;
	border-bottom: 5px;
	box-shadow: 5px 10px 8px #888888;
}

header p {
	font-weight: bold;
	font-size: 30pt;
}

#big {
	color: #e5e49c;
	font-weight: bolder;
	padding-top: 10px;
	font-size: 50pt;
	text-shadow: 3px 2px black;
	letter-spacing: 5px;
}

footer {
	min-width: 100%;
	position: absolute;
	filter: brightness(95%);
	bottom: 0;
	height: 100px;
	background-color: #7ac6f9;
	width: 100%;
	box-shadow: 5px black;
	text-align: center;
	box-shadow: 3px 3px 5px 12px #888888;
	text-align: center;
}

#createdby {
	margin-top: 35px;
	font-size: 30pt;
}

footer a {
	color: grey;
}

#section {
	display: flex;
}

#container {
	background-color: white;
	box-shadow: 5px 10px 10px 3px #888888;
	display: grid;
	border: 1px solid black;
	width: 700px;
	justify-content: center;
	margin: 30px 0;
	height: 650px;
}

#leftside {
	float: left;
	width: 475px;
	margin-top: 150px;
}

#rightside {
	float: right;
	width: 475px;
	margin-top: 150px;
}

#leftside button {
	margin-left: 350px;
}

#rightside button {
	margin-left: 30px;
}

.grid {
	box-sizing: border-box;
	border: 1px solid black;
}

#colors {
	margin-top: 60px;
}
